In [19]:
import pandas as pd

In [21]:
eclipse_df.columns

Index(['Bug\nID', 'Product', 'Component', 'Assignee', 'Status', 'Resolution',
       'Summary', 'Changed', 'Assignee\nReal\nName', 'Classification',
       'Hardware', 'Number of\nComments', 'Opened', 'OS', 'Priority',
       'Reporter', 'Reporter\nReal\nName', 'Severity', 'Target\nMilestone',
       'Version', 'Votes'],
      dtype='object')

In [22]:
# Finding the average number of comments per bug
average_comments = eclipse_df["Number of\nComments"].mean()
average_comments

8.75

In [23]:
# Grouping the DataFrame by "Assignee"
assignee_group = eclipse_df.groupby("Assignee")

# Count how many of each component Assignees worked on and create DataFrame
assignee_work_df = pd.DataFrame(assignee_group["Component"].count())
assignee_work_df.head()

                Component
Assignee
Aaron_Ferguson         10
Adam_Schlegel           7
ChrisAustin             3
Claude_Knaus           38
Curtis_Windatt          6

In [24]:
# Rename the "Component" column to "Component Bug Count"
assignee_work_df = assignee_work_df.rename(
    columns={"Component": "Component Bug Count"})
assignee_work_df.head()

                Component Bug Count
Assignee
Aaron_Ferguson                   10
Adam_Schlegel                     7
ChrisAustin                       3
Claude_Knaus                     38
Curtis_Windatt                    6

In [28]:
# Find the percentage of bugs overall fixed by each Assignee
total_bugs = assignee_work_df["Component Bug Count"].sum()
total_bugs

10000

In [30]:
#bugs_per_user = assignee_group["Assignee"].value_counts()
bugs_per_user = assignee_work_df/total_bugs*100

In [31]:
user_bug_percent_df = pd.DataFrame(bugs_per_user)
user_bug_percent_df.head()

                Component Bug Count
Assignee
Aaron_Ferguson                 0.10
Adam_Schlegel                  0.07
ChrisAustin                    0.03
Claude_Knaus                   0.38
Curtis_Windatt                 0.06

In [33]:
user_bug_percent_df = user_bug_percent_df.reset_index()
user_bug_percent_df.head()

         Assignee  Component Bug Count
0  Aaron_Ferguson                 0.10
1   Adam_Schlegel                 0.07
2     ChrisAustin                 0.03
3    Claude_Knaus                 0.38
4  Curtis_Windatt                 0.06

In [32]:
# Reset the index of "assignee_group" so that "Assignee" and "Component" are columns
assignee_work_df = assignee_work_df.reset_index()
assignee_work_df.head()

         Assignee  Component Bug Count
0  Aaron_Ferguson                   10
1   Adam_Schlegel                    7
2     ChrisAustin                    3
3    Claude_Knaus                   38
4  Curtis_Windatt                    6

In [34]:
# Merge the "Percent of Total Bugs Assigned" into the DataFrame
assignee_work_df = assignee_work_df.merge(user_bug_percent_df, on="Assignee")
assignee_work_df.head()

         Assignee  Component Bug Count_x  Component Bug Count_y
0  Aaron_Ferguson                     10                   0.10
1   Adam_Schlegel                      7                   0.07
2     ChrisAustin                      3                   0.03
3    Claude_Knaus                     38                   0.38
4  Curtis_Windatt                      6                   0.06